<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
        [v-cloak] {
            display: none;
        }

        body{
            background-color: #ffdead;
            height: auto;
            width: auto;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .input-group {
            position: fixed; bottom: 0;
            width: 1000px;
        }

        .content{
            margin-bottom: 100px;
        }

        .list-group-item{
            border-radius: 10px;
            border: none;
            margin-bottom: 5px;
            margin-top: 5px;
            font-family: 'Nanum Pen Script', cursive;
        }

    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <button v-if = "" onclick="order()" style="background-color: #ba55d3">이 사람과 거래하기</button>
    <div class="content">
        <ul class="list-group"  v-for="message in messages.slice().reverse()">
            <li v-if = "message.sender != nickname" class="list-group-item" style="background-color: #ba55d3">
                {{message.sender}} : {{message.message}}
            </li>
            <li v-else class="list-group-item" style="text-align: right; float: right; background-color: #ffec42">
                {{message.sender}} : {{message.message}}
            </li>
        </ul>
        <div class="image" style="text-align: center">
           <img src="https://user-images.githubusercontent.com/78460820/176168804-55507698-e590-4f62-b542-b14af7fb65b3.png" style="position: relative; height: 200px; width: 200px">
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
        </div>
    </div>
    <div></div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
    //alert(document.title);
    // websocket & stomp initialize
    var sock = new SockJS("/ws/chat");
    var ws = Stomp.over(sock);
    var reconnect = 0;
    // vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            roomId: '[[${roomId}]]',
            room: {},
            sender: '',
            message: '',
            messages: [],
            nickname: '[[${nickname}]]'
        },
        created() {
            this.roomId = '[[${roomId}]]';
            this.sender = localStorage.getItem('wschat.sender');
            this.findRoom();
        },
        methods: {
            findRoom: function() {
                axios.get('/chat/room/'+this.roomId).then(response => { this.room = response.data; console.log(response.data);});
            },
            sendMessage: function() {
                if(this.message==''){
                    return;
                }
                ws.send("/app/chat/message", {}, JSON.stringify({type:'TALK', roomId:this.roomId, sender:this.sender, message:this.message}));
                this.message = '';
                window.scrollTo(0,document.body.scrollHeight);
            },
            recvMessage: function(recv) {
                this.messages.unshift({"type":recv.type,"sender":recv.type=='ENTER'?'[알림]':recv.sender,"message":recv.message})
                window.scrollTo(0,document.body.scrollHeight);
            }
        }
    });

    function connect() {
        // pub/sub event
        ws.connect({}, function(frame) {
            ws.subscribe("/topic/chat/room/"+vm.$data.roomId, function(message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });
            ws.send("/app/chat/message", {}, JSON.stringify({type:'ENTER', roomId:vm.$data.roomId, sender:vm.$data.sender}));
        }, function(error) {
            if(reconnect++ <= 5) {
                setTimeout(function() {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws/chat");
                    ws = Stomp.over(sock);
                    connect();
                },10*1000);
            }
        });
    }
    connect();

    function order() {
        roomId = String(vm.$data.roomId)
        console.log(roomId)
        axios.post('/order?roomId='+roomId).then(function(response) {
            alert(response.data);
        })
    }
</script>
</body>
</html>